// @media (min-width: 1200px){
// .container {
//     max-width: 1140px;
// }

// @media (min-width: 992px){
// .container {
//     max-width: 960px;
// }
// @media (min-width: 768px){
// .container {
//     max-width: 720px;
// }
// @media (min-width: 576px){
// .container {
//     max-width: 540px;
// }
// .container {
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
//     @include breakpoint($small){
//       max-width: 540px;
//     }
//     @include breakpoint($medium){
//       max-width: 720px;
//     }
//     @include breakpoint($large){
//       max-width: 960px;
//     }
//     @include breakpoint($x-large){
//       max-width: 1140px;
//     }
// }
.post-grid{
    margin: auto;
    .post-item{
      float: left;
      background: #000;
      height: 300px;
      margin-bottom: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      p{
        color: #ffffff;
        font-size: 3rem
      }
    }
    .long-post{
        @include breakpoint($medium){
          height: 606px;
        }
      }
    // Random Image loop
    @for $item from 1 through 40{
      .post-item:nth-child(#{$item}){ 
        background-image: url('https://unsplash.it/900/900?image#{$item}'); 
      }}
  }
  